---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Priya Ranjan Singh, Front End Engineer</title>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<h1>About Priya Ranjan Singh</h1>
			<p>I'm a Front End Engineer making computer user interfaces for enterprise applications for
				over a decade. I like simplicity in design and code. When I'm not working, I like to run,
				listen to music, and watch movies.
			</p>
			<h2>Contact</h2>
			<p>mail at priyaranjan.net</p>
		</main>
	</body>
</html>

<style>
	:root {
		font-family: system-ui, sans-serif;
		line-height: 1.5;
	}

	header {
		padding: 1rem;
		border-bottom: 1px solid #ccc;
	}

	nav ul {
		display: flex;
		gap: 1rem;
		list-style: none;
		padding: 0;
		margin: 0;
	}
</style>